@media all and (max-width:991px){

	header{
		.menu-area{
			.navbar-light{
				display: none !important;
			}

			.nav-link{
				color: #dfdddd !important;
			}

			.active{
				.nav-link{
					color: #fff !important;
				}

			}
			.dropdown-toggle{
				&::after{
					display: none;
				}
			}

			.dropdown-menu{
				transition: none;
				-webkit-transition: none;
				-moz-transition: none;
				-ms-transition: none;
				-o-transition: none;
}
		}

		.widget-area	{
			display: none !important;
		}

		.menu-area{
			position: absolute;
			top: 13px;
		}

	}


	.hero-area{
		.title{
			font-size: 40px;
		}
		.bout-more {
			font-size: 12px;
		}
		.invite{
			font-size: 12px;
		}
	}


	.achievement-area
	{
		.content-area {
			padding-left: 25px;
			margin-top: 40px;
		}
	}
	.team-details{
		margin-top: 20px;
	}
	.footer-area{
		.logo-container{
			display: block !important;
			.logo{
				text-align: center;
				display: block;
				margin-bottom: 20px;
			}
		}
	}

	.social_media_container{
		display: block  !important;
		width: 100%;
		margin-top: 20px;

		.socialmedia{

				text-align: center;
				margin: auto;
				width: 28%;

		};
	}
}



@media all and (max-width: 768px){
	.achievement-area{
		.cards	{
			display: block !important;

			.card-item{
				width: 100%;
				margin-bottom: 20px;
			}
		}
	}

	.footer-area{
		.logo-container{
			display: inline-block !important;
			.logo{
				display: inline-block;
				margin-bottom: 20px;
			}
		}

		.footer-menu{
			margin-top: 30px !important;
			width: 100%;
			display: block;
			margin: 0;
			padding: 0;
			ul{
				display: block;
			 li{
				margin-bottom: 20px;
			 }
			}
		}

		.social_media_container{
			display: block  !important;
			width: 100%;
			margin-top: 20px;

			.socialmedia{
					margin: auto;
					width: 100%;

					li{
						&:nth-child(1){
							margin: 0;
						}
					}

			};
		}
	}


}


@media all and (max-width: 502px){
	.team-area {
		.tabs {
			ul {
				max-width: 298px;
				li {
					a {
						padding: 15px 20px;
					}
				}
			}
		}


}
.grid-area{
	.gird {
		display: block !important;

		.item{
			width:100%;
			margin-bottom: 25px;

			img{
				width:100%
			}
		}
	}
}

}


@media all and (max-width:360px){
	.hero-area{
		.bout-more,
		.invite {
			display:block;
			width: 100%;
			margin-right:0;
			margin-bottom: 10px;
		}

		.title{
			font-size: 35px;
		}
	}

	.grid-area{
		.title{
			font-size: 28px;
		}
	}

	.achievement-area {
		.card-item {
			padding: 24px;
		}
		.title{
			font-size: 28px;
		}
	}

	.team-area{
		.title{
			font-size: 28px;;
		}
	}
}
