.team-area{
	padding-top: 95px;
	padding-bottom: 84px;
	.team-details{
		border: 1px solid #f9f9f9;
		border-radius: 14px	;
		-webkit-border-radius: 14px	;
		-moz-border-radius: 14px	;
		-ms-border-radius: 14px	;
		-o-border-radius: 14px	;
		padding: 40px 25px;
		transition: 0.3s ease-in;
		-webkit-transition: 0.3s ease-in;
		-moz-transition: 0.3s ease-in;
		-ms-transition: 0.3s ease-in;
		-o-transition: 0.3s ease-in;
		&:hover{
			box-shadow: 3px 7px 23px 10px #f0f0f0;
		}
}
	.sub-title{
		@include sub_header_style;
		text-align: center;
	}

	.title{
		@include header_style(36px, 1.5em);
		text-align: center;
		margin-top: 10px;
		margin-bottom: 18px;
	}
	.content{
		max-width: 454px;
		text-align: center;
		@include paragraph_style(16px);
		margin: 0 auto;
		padding-bottom: 38px;
	}

	.tabs{

		ul{
			max-width: 480px;
			margin: 0 auto;
			padding: 8px;
			list-style: none;
			background-color: #f2f7ff;
			border-radius: 14px;
			-webkit-border-radius: 14px;
			-moz-border-radius: 14px;
			-ms-border-radius: 14px;
			-o-border-radius: 14px;
			margin-bottom: 46px;
			li{
				display: inline-block;
				a{
					font-family: "Inter", sans-serif;
					font-size: 16px;
					line-height: 16px;
					color: #2F2C4A;
					text-decoration: none;
					padding: 20px 50px;
					display: block;

			}

		}
		.active{
			a{
				color: #fff;
			}
			background-color: #217BF4;
			border-radius: 14px;
			-webkit-border-radius: 14px;
			-moz-border-radius: 14px;
			-ms-border-radius: 14px;
			-o-border-radius: 14px;

		}

		}

		.name{
					font-family: "Inter", sans-serif;
					font-size: 24px;
					line-height: 26px;
					text-align: center;
					color: #2F2C4A;
					margin-top: 50px;
					margin-bottom: 14px;
		}

		.team-photo{
			width: 142px;
			height: 142px;
			margin: 0 auto;
			position: relative;
						img{
							width: 100%;
							border-radius: 50%;
							-webkit-border-radius: 50%;
							-moz-border-radius: 50%;
							-ms-border-radius: 50%;
							-o-border-radius: 50%;



						}
						&::after{
							content: url('../assets/img/Abstrack.png');
							z-index: 999;
							position: absolute;
							left: -13px;
							top: -14px;
						}
		}

		.meta{
					font-family: "Inter", sans-serif;
					font-size: 1em;
					line-height: 1.5em;
					text-align: center;
					color: #656464;
					;
		}
	}
}
